{% extends "/layout_default.jinja2" %}

{% block content %}
  <div class="jumbotron">
    <h1>Pyramid App</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ultrices dolor. Aenean sagittis, erat sit amet laoreet molestie, nisi risus egestas nulla, non viverra ipsum dui a dui. Etiam tortor sapien, mollis nec arcu id, convallis imperdiet felis.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/about.html">Learn more</a></p>
  </div>
{% endblock %}
