<body style="background-color: #ffffff; margin:0; padding:0;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="600" style="width: 600px;">
          <tr>
            <td>
              [ LOGO ]
              <br /> <br />
              <div id="text" style="width:600px; font-family:Hevetica, Arial, sans-serif; color:#222222;">
                <h3>Reset Password</h3>
                <p>Please follow the instructions at the following link to reset your password:</p>
                <p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
                - Starter
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
