{% extends "/layout_default.jinja2" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Forgot Password</h1>
  </div>

  {{ h.form(request.route_path('users', action='forgot_password'), id='forgot-password-form', hidden_fields=dict(csrf_token=request.session.get_csrf_token()), class_='form-horizontal') }}
    {{ h.horizontal_form_input('email', params['email'], type='email', required=True) }}
    {{ h.horizontal_form_submit('Submit') }}
  {{ h.end_form() }}
{% endblock %}
