{% extends "/layout_default.jinja2" %}

{% block content %}
  <div class="page-header">
    <h1>Reset Password</h1>
  </div>

  {{ h.form(request.route_path('users', action='reset_password'), id='reset-password-form', hidden_fields=dict(csrf_token=request.session.get_csrf_token(), token=params['token']), class_='form-horizontal') }}
    {{ h.horizontal_form_input('email', params['email'], errors, type='email', required=True) }}
    {{ h.horizontal_form_input('password', '', errors, type='password', required=True) }}
    {{ h.horizontal_form_input('confirm', '', errors, type='password', required=True) }}
    {{ h.horizontal_form_submit('Reset Password') }}
  {{ h.end_form() }}
{% endblock %}
